rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }

    match /users/{userId}/transactions/{transactionId} {
      allow read, write: if true;
    }

    match /users/{userId}/high_risk_transactions/{transactionId} {
      allow read, write: if true;
    }

    match /transactions/{transactionId} {
      allow read, write: if true;
    }

    match /high_risk_transactions/{transactionId} {
      allow read, write: if true;
    }

    match /security_logs/{userId}/{docId} {
      allow read, write: if true;
    }

    match /wallet_settings/{docId} {
      allow read, write: if true;
    }
  }
}
